.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(black,0.8);
    z-index: 5000;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        background-color: white;
        width: 80%;
        height: 60%;
        box-shadow: 0 2rem 4rem rgba(black, .2);
        position: absolute;
        top: 50%;
        left:50%;
        display: table;
        margin: 0 auto;
        transform: translateX(-50%) translateY(-50%) scale(0.2);
        border-radius: 3px;
        overflow: hidden;
        transition: all .3s .2s;
        z-index: 5020;
    }

    &__left {
        width: 33.33333333%;
        display: table-cell;

        @include respond(tab-port) {
            display: table-row;
        }
    }

    &__right {
        width: 66.66666666%;
        display: table-cell;
        vertical-align: middle;
        padding: 0 3rem;

        @include respond(tab-port) {
            display: table-row;
        }
    }
    
    &__img {
        width: 100%;
        display:block;

        @include respond(tab-port) {
            width: 50%;
            display: inline-block;
        }
    }

    &__text {
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-dark2;
        hyphens: auto;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-gray-dark2;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;

        @include respond(tab-port) {
            padding: 0 3rem;
        }

    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            position: absolute;
            top: 1rem;
            right: 3rem;
            font-size: 4rem;
            text-decoration: none;
            color: #777;

            @include respond(tab-port) {
                top: 0.5rem;
                color: black;
            }
        }

        &:hover {
            color: $color-primary;
        }
        
    }

    &__clickclose {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__mobile {
        margin: 0 3rem;
    }

}
